# Ignorar dependencias y archivos sensibles
node_modules/
.env
.env.local
.env.*.local
.env.production
*.key
*.pem
*.crt
*.p12
*.db
*.sqlite
*.log
*.secret
*.token
*.bak
*.cache
/.DS_Store
/generated/prisma

# Compilado
dist/
*.tsbuildinfo
build/

# Tests
coverage/

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db

# Firebase
firebase-service-account.json


scan-state.json